{% extends "myapp/base.html" %}

<!--
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="../../static/css/add.css">
{% endblock %}
-->


{% block body %}



<div class="container main-container">
    <div class="row main-row-todo">
        <div class="col-12 card-header d-flex flex-direction-column justify-content-center align-items-center">
            <h1 class="todo-heading text-white card-title">TODO</h1>
        </div>
    </div>
    <!--Todo Form-->
    <div class="row todo-form-main-card">
        <div class="card-body col-md-4  mt-5 d-flex flex-direction-column justify-content-start align-items-start">
        <form class="card pl-5 pr-5 bg-transparent  shadow rounded" method = "POST">
            <h1 class="text-center mt-2 mb-3">Add Task</h1>
            {% csrf_token %}
            <div class="form-group">    
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Task Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="priority" id="priority" placeholder="Enter Task Prioity">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="description" id="description" placeholder="Enter Task Description">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="status" id="status" placeholder="Enter Task Status">
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="date" id="date">
            </div>
            <input class="btn btn-success mb-3" onclick="return confirm('Are you sure you want to add this task?')" type="submit">
        </form>
        </div>
        <!--Task Details-->
        <div class="col-md-8">
            <div class="col-sm-12 m-3">
                <h1 class="text-center  text-warning">Task Details</h1>
            </div>
            <div class="row">
            {% for task in task_list %}
            <div class="col-sm-6 col-md-4 mt-2 mb-2">
                <div class="card bg-info shadow rounded">
                    <div class="card-header text-white">
                        <h3 class="card-title">{{task.name}}</h3>
                    </div>
                    <div class="card-body task-details-card">
                      <!--<h5 class="card-title">{{task.name}}</h5>-->
                      <p class="card-text"><span class="task-details-card-span-heading">Priority :</span> {{task.priority}}</p>
                      <p class="card-text"><span class="task-details-card-span-heading">Description :</span> {{task.description}}</p>
                      <p class="card-text"><span class="task-details-card-span-heading">Status :</span> {{task.status}}</p>
                      <p class="card-text"><span class="task-details-card-span-heading">Date :</span> {{task.date}}</p>
                      <!--
                        <a href="#" class="btn btn-success">Update</a>
                        <a href="{% url 'delete' id=task.id %}" class="btn btn-success" >Delete</a>
                      -->
                      <button type="button" onclick="return confirm('Are you completed this task?')" class="btn btn-success"><a href="{% url 'done' id=task.id %}" class="text-white">Done</a></button>
                      <button type="button" onclick="return confirm('Are you sure you want to delete this task?')" class="btn btn-danger"><a href="{% url 'delete' id=task.id %}" class="text-white" >Delete</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
</div>

{%endblock%}



<!--
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="name" id="name" placeholder="Enter Task Name">
    <input type="text" name="priority" id="priority" placeholder="Enter Task prioity">
    <input type="text" name="description" id="description" placeholder="Enter Task description">
    <input type="text" name="status" id="status" placeholder="Enter Task status">
    <input type="date" name="date" id="date">
    <input type="submit">
</form>
-->

<!--<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <form class="p-6 shadow" method = "POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Task Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="priority" id="priority" placeholder="Enter Task prioity">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="description" id="description" placeholder="Enter Task description">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="status" id="status" placeholder="Enter Task status">
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="date" id="date">
            </div>
            <input class="btn btn-success" type="submit">
        </form>
        
    </div>
</div>
-->